<section class="intro">
  <article class="corporate">
    <p><%= item[:liquid_is] %></p>
    <p class="quote">"<%= item[:quote_liquid] %>"</p>
    <p><%= item[:what] %></p>
    <p class="since"><%= item[:since] %></p>
    <p class="quote specialty">"<%= item[:quote_specialty] %>"</p>
    <p><%= item[:team] %></p>
  </article>
  <section class="contact">
    <article class="phone">
      <h1><%= item[:call_us] %></h1>
      <h2>+41 21 648 03 41</h2>
      <p class="info"><%= item[:phone_info]%></p>
    </article>
    <article class="email">
      <h1><%= item[:email_us] %></h1>
      <h2><a href="mailto:info@liquid-concept.ch">info@liquid-concept.ch</a></h2>
      <p class="info"><%= item[:email_info]%></p>
    </article>
  </section>
  <article class="find_us">
    <h1><%= item[:find_us] %></h1>
    <p><a href="https://maps.google.ch/maps?q=Liquid+Concept+S%C3%A0rl,+Rue+du+Maupas+19,+Lausanne&hl=de&ie=UTF8&ll=46.525018,6.625421&spn=0.012328,0.023432&sll=46.524957,6.625386&sspn=0.012328,0.023432&oq=liquidrue+maupas+19&hq=Liquid+Concept+S%C3%A0rl,&hnear=Rue+du+Maupas+19,+1004+Lausanne,+Vaud&t=m&z=16" target="parent">Rue du maupas 19 1004 Lausanne</a></p>
  </article>
</section>
<section class="team">
  <nav class="previous"><a href="#"></a></nav>
  <h1><%= item[:our_teams] %></h1>
  <section class="members">
    <article class="member lc">
      <p class="quote"><%= item[:lc_1] %></p>
      <p><%= item[:lc_2] %></p>
      <p><%= item[:lc_3] %></p>
    </article>
    <article class="member yl">
      <div class="picture"><img src="<%= image_path('yl.png') %>" /></div>
      <div class="information">
        <div class="header">
          <p class="name">Yann Lugrin</p>
          <div class="title">
            <span class="bold"><%= item[:title_yl] %></span> - <span><%= item[:nickname_yl] %></span>
          </div>
          <div class="social_media">
            <a href="https://twitter.com/YannLugrin" target="_blank" class="twitter"></a>
            <a href="http://www.linkedin.com/in/YannLugrin" target="_blank" class="linkedin"></a>
            <a href="https://www.facebook.com/yannlugrin" class="facebook"></a>
            <a href="https://github.com/yannlugrin" target="_blank" class="github"></a>
          </div>
        </div>
        <p class="describe"><%= item[:yl] %></p>
      </div>
    </article>
    <article class="member jh">
      <div class="picture"><img src="<%= image_path('jh.png') %>" /></div>
      <div class="information">
        <div class="header">
          <p class="name">Julien Henzelin</p>
          <div class="title">
            <span class="bold"><%= item[:title_jh] %></span> - <span><%= item[:nickname_jh] %></span>
          </div>
          <div class="social_media">
            <a href="https://twitter.com/julienhenzelin" target="_blank" class="twitter"></a>
            <a href="http://www.linkedin.com/in/julienhenzelin" target="_blank" class="linkedin"></a>
            <a href="https://www.facebook.com/julienhenzelin" target="_blank" class="facebook"></a>
          </div>
        </div>
        <p class="describe"><%= item[:jh] %></p>
      </div>
    </article>
    <article class="member lt">
      <div class="picture"><img src="<%= image_path('lt.png') %>" class="lt" /></div>
      <div class="information">
        <div class="header">
          <p class="name">Ludovic Turmel</p>
          <div class="title">
            <span class="bold"><%= item[:title_lt] %></span><span><%= item[:nickname_lt] %></span>
          </div>
          <div class="social_media">
            <a href="http://www.linkedin.com/profile/view?id=216663091" target="_blank" class="linkedin"></a>
            <a href="https://github.com/ludovicturmel" target="_blank" class="github"></a>
          </div>
        </div>
        <p class="describe"><%= item[:lt] %></p>
      </div>
    </article>
    <article class="member nd">
      <div class="picture"><img src="<%= image_path('nd.png') %>" /></div>
      <div class="information">
        <div class="header">
          <p class="name">Néville Dubuis</p>
          <div class="title">
            <span class="bold"><%= item[:title_nd] %></span><span><%= item[:nickname_nd] %></span>
          </div>
          <div class="social_media">
            <a href="http://www.linkedin.com/profile/view?id=284620713" target="_blank" class="linkedin"></a>
            <a href="https://github.com/NevilleDubuis" target="_blank" class="github"></a>
          </div>
        </div>
        <p class="describe"><%= item[:nd] %></p>
      </div>
    </article>
    <article class="member sw">
      <div class="picture"><img src="<%= image_path('sw.png') %>" class="sw" /></div>
      <div class="information">
        <div class="header">
          <p class="name">Simon Walther</p>
          <div class="title">
            <span class="bold"><%= item[:title_sw] %></span><span><%= item[:nickname_sw] %></span>
          </div>
          <div class="social_media">
            <a href="https://github.com/simonwalther" target="_blank" class="github"></a>
          </div>
        </div>
        <p class="describe"><%= item[:sw] %></p>
      </div>
    </article>
    <article class="member aa">
      <div class="picture"><img src="<%= image_path('aa.png') %>" class="aa" /></div>
      <div class="information">
        <div class="header">
          <p class="name">Alban Allée</p>
          <div class="title">
            <span class="bold"><%= item[:title_aa] %></span><span><%= item[:nickname_aa] %></span>
          </div>
          <div class="social_media">
            <a href="fr.linkedin.com/in/aallee/" target="_blank" class="linkedin"></a>
            <a href="https://github.com/albanallee" target="_blank" class="github"></a>
          </div>
        </div>
        <p class="describe"><%= item[:aa] %></p>
      </div>
    </article>
  </section>
  <nav class="next"><a href="#"></a></nav>
</section>
<section class="nav_team">
  <article class="avatar">
    <div class="row line-1">
      <div class="col-md-2 active liquid">
        <a href="#" class="lc" data-avatar-value="lc"></a>
        <div data-avatar-value="lc"><p class="name">Intro</p><p class="nickname">Liquid Concept</p></div>
      </div>
      <div class="col-md-2">
        <a href="#" class="yl" data-avatar-value="yl"></a>
        <div class="border" data-avatar-value="yl"><p class="name">Yann Lugrin</p><p class="nickname"><%= item[:nickname_yl] %></p></div>
      </div>
      <div class="col-md-2">
        <a href="#" class="jh" data-avatar-value="jh"></a>
        <div class="border" data-avatar-value="jh"><p class="name">Julien Henzelin</p><p class="nickname"><%= item[:nickname_jh] %></p></div>
      </div>
      <div class="col-md-2">
        <a href="#" class="lt" data-avatar-value="lt"></a>
        <div class="border" data-avatar-value="lt"><p class="name">Ludovic Turmel</p><p class="nickname"><%= item[:title_lt] %></p></div>
      </div>
    </div>
    <div class="row line-2">
      <div class="col-md-2">
        <a href="#" class="nd" data-avatar-value="nd"></a>
        <div data-avatar-value="nd"><p class="name">Néville Dubuis</p><p class="nickname"><%= item[:title_nd] %></p></div>
      </div>
      <div class="col-md-2">
        <a href="#" class="sw" data-avatar-value="sw"></a>
        <div class="border" data-avatar-value="sw"><p class="name">Simon Walter</p><p class="nickname"><%= item[:title_sw] %></p></div>
      </div>
      <div class="col-md-2">
        <a href="#" class="aa" data-avatar-value="aa"></a>
        <div class="border" data-avatar-value="aa"><p class="name">Alban Allée</p><p class="nickname"><%= item[:title_aa] %></p></div>
      </div>
    </div>
  </article>
</section>
<div class="line"></div>
<section class="clients">
  <article class="content ">
    <h1><%= item[:clients] %></h1>
    <div class="clients_important">
      <div class="container_logo"><img src="<%= image_path('client_claves.png') %>" class="logo" /></div>
      <div class="container_logo"><img src="<%= image_path('client_neopost.png') %>" class="logo" /></div>
      <div class="container_logo"><img src="<%= image_path('client_nagra.png') %>" class="logo" /></div>
      <div class="container_logo"><img src="<%= image_path('client_hep.png') %>" class="logo" /></div>
      <div class="container_logo"><img src="<%= image_path('client_bcv.png') %>" class="logo" /></div>
    </div>
    <div class="clients_less_important row">
      <div class="container_logo col-md-3"><img src="<%= image_path('client_clarahaskil.png') %>" class="logo" /></div>
      <div class="container_logo col-md-3"><img src="<%= image_path('client_jpmguides.png') %>" class="logo jpm" /></div>
      <div class="container_logo col-md-3"><img src="<%= image_path('client_webdoc.png') %>" class="logo" /></div>
      <div class="container_logo col-md-3"><img src="<%= image_path('client_police.png') %>" class="logo" /></div>
    </div>
  </article>
</section>
