@import "compass/reset";
@import "compass/css3";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";

@import "font";
@import "bootstrap";

/* images */
@import "social_media/*.png";
@import "small_social_media/*.png";
@import "avatar/*.png";
@import "arrows/*.png";

@include all-social_media-sprites;
@include all-small_social_media-sprites;
@include all-avatar-sprites;
@include all-arrows-sprites;

/*----------------------------------------*/
/*                COLORS                  */
/*----------------------------------------*/

$white: #fff;
$blue: #0078de;
$dark_grey: #404040;
$grey: #777777;
$light_grey: #D0D0D0;
$white_grey: #EDEDED;

/*----------------------------------------*/
/*                DEFAULT                 */
/*----------------------------------------*/

body {
	border-top: $blue solid 5px;
  font-family: 'katarine', sans-serif;
  color: $grey;
}

a {
  color: $grey;
  text-decoration: underline;
}

a:hover {
  color: $blue;
}

p {
  font-size: 18px;
  color: $grey;
  line-height: 28px;
}

.bold {
  font-weight: bold;
}

.quote {
  color: $blue;
  font-size: 28px;
  font-style: italic;
}

.line {
  background: inline-image('line.png') repeat-x;
  width: 100%;
  z-index: 1000;
  height: 3px;
  position: absolute;
  left: 0px;
}

h1 {
  font-size: 54px;
  color: $dark_grey;
}

h2 {
  font-size: 40px;
  color: $blue;
}

/*----------------------------------------*/
/*                 HEADER                 */
/*----------------------------------------*/

header {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 40px;

  .links {
    @include pie-clearfix;

    .customer_area {
      float: left;
      margin-top: 10px;
    }

    .languages {
      float: right;
      margin-top: 10px;

      a {
        font-size: 18px;
      }
    }
  }

  h1 {
    width: 280px;
    margin: 0 auto;
    margin-top: 30px;
    @include replace-text-with-dimensions('logo-liquid-concept.png', 50%, 50%, true);
  }

  h2.caption {
    width: 220px;
    font-size: 1.3em;
    margin: 10px auto;
  }

  section.social_media {
    width: 655px;
    margin: 0px auto;
    margin-top: 80px;
    padding-bottom: 40px;
    border-bottom: 1px $light_grey solid;
    @include pie-clearfix;

    a {
      float: left;
      width: 131px;
      height: 99px;
    }

    .twitter {
      @include social_media-sprite(twitter);
    }

    .twitter:hover {
      @include social_media-sprite(twitter_hover);
    }

    .linkedin {
      @include social_media-sprite(linkedin);
    }

    .linkedin:hover {
      @include social_media-sprite(linkedin_hover);
    }

    .facebook {
      @include social_media-sprite(facebook);
    }

    .facebook:hover {
      @include social_media-sprite(facebook_hover);
    }

    .github {
      @include social_media-sprite(github);
    }

    .github:hover {
      @include social_media-sprite(github_hover);
    }

    .blog {
      @include social_media-sprite(blog);
    }

    .blog:hover {
      @include social_media-sprite(blog_hover);
    }
  }
}

/*----------------------------------------*/
/*                 CONTENT                */
/*----------------------------------------*/

#main {
  width: 960px;
  margin: 0 auto;

  section.intro {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 60px;
    @include pie-clearfix;

    article.corporate {
      margin-bottom: 60px;

      p {
        text-align: center;
      }

      .since {
        margin-top: 40px;
      }
    }

  /************ CONTACT **************/

    section.contact {
      width: 839px;
      margin: 0 auto;
      padding-left: 20px;
      @include pie-clearfix;

      .info {
        font-size: 15px;
      }

      h1, h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      article.phone {
        width: 398px;
        float: left;
        padding-right: 20px;
        border-right: $light_grey 1px solid;

        .info {
          width: 290px;
          margin: 0 auto;
        }
      }

      article.email {
        float: left;
        padding-left: 60px;

        .info {
          width: 120px;
          margin: 0 auto;
        }
      }
    }
  }

  /************** TEAM ****************/

  section.team {
    height: 600px;
    position: relative;

    nav {
      display: block;
      position: absolute;

      a {
        display: block;
        width: 51px;
        height: 71px;
        cursor: pointer;
      }
    }

    nav.previous {
      left: 0px;
      top: 200px;
      z-index: 1000;
    }

    nav.next {
      right: 0px;
      top: 200px;
      z-index: 1000;
    }

    nav.previous > a {
      @include arrows-sprite(arrow_previous);
    }

    nav.previous > a:hover {
      @include arrows-sprite(arrow_previous_hover);
    }

    nav.next > a {
      @include arrows-sprite(arrow_next);
    }

    nav.next > a:hover {
      @include arrows-sprite(arrow_next_hover);
    }

    h1 {
      width: 265px;
      margin: 30px auto;
    }

    section.members {
      width: 870px;
      height: 600px;
      margin: 0px auto;
      position: relative;
      overflow: hidden;

      article.member {
        width: 840px;
        margin: 40px 0px 0px 10px;
        @include pie-clearfix;
        position: absolute;

        .picture {
          width: 300px;
          float: left;
          padding-left: 30px;
        }

        img.lt {
          margin-left: 80px;
        }

        img.sw {
          margin-left: 30px;
        }

        .information {
          width: 540px;
          padding-left: 40px;
          float: right;
          @include pie-clearfix;

          .header {
            border-bottom: $light_grey solid 1px;
            padding-bottom: 40px;

            .name {
              font-size: 25px;
              font-color: $dark_grey;
              margin-bottom: 10px;
            }

            .title {
              float: left;
              margin-bottom: 10px;

              span {
                font-size: 18px;
                font-color: $dark_grey;
              }
            }

            .social_media {
              float: right;
              margin-top: -20px;
            }
          }

          .describe {
            margin-top: 20px;
          }
        }
      }

      article.lc {
        width: 840px;
        margin: 40px 0px 0px 10px;
        display: block;

        p {
          text-align: center;
          margin-bottom: 30px;
        }
      }

      .social_media {
        a {
          float: left;
          width: 50px;
          height: 40px;
        }
      }

      article.yl {
        display: none;

        .social_media {
          .twitter {
            @include small_social_media-sprite(twitter);
          }

          .twitter:hover {
            @include small_social_media-sprite(twitter_hover);
          }

          .linkedin {
            @include small_social_media-sprite(linkedin);
          }

          .linkedin:hover {
            @include small_social_media-sprite(linkedin_hover);
          }

          .facebook {
            @include small_social_media-sprite(facebook);
          }

          .facebook:hover {
            @include small_social_media-sprite(facebook_hover);
          }

          .github {
            @include small_social_media-sprite(github);
          }

          .github:hover {
            @include small_social_media-sprite(github_hover);
          }
        }
      }

      article.jh {
        display: none;

        .social_media {
          .twitter {
            @include small_social_media-sprite(twitter);
          }

          .twitter:hover {
            @include small_social_media-sprite(twitter_hover);
          }

          .linkedin {
            @include small_social_media-sprite(linkedin);
          }

          .linkedin:hover {
            @include small_social_media-sprite(linkedin_hover);
          }

          .facebook {
            @include small_social_media-sprite(facebook);
          }

          .facebook:hover {
            @include small_social_media-sprite(facebook_hover);
          }
        }
      }

      article.lt {
        display: none;

        .social_media {
          .linkedin {
            @include small_social_media-sprite(linkedin);
          }

          .linkedin:hover {
            @include small_social_media-sprite(linkedin_hover);
          }

          .github {
            margin-left: 10px;
            @include small_social_media-sprite(github);
          }

          .github:hover {
            margin-left: 10px;
            @include small_social_media-sprite(github_hover);
          }
        }
      }

      article.nd {
        display: none;

        .social_media {
          .linkedin {
            @include small_social_media-sprite(linkedin);
          }

          .linkedin:hover {
            @include small_social_media-sprite(linkedin_hover);
          }

          .github {
            margin-left: 10px;
            @include small_social_media-sprite(github);
          }

          .github:hover {
            margin-left: 10px;
            @include small_social_media-sprite(github_hover);
          }
        }
      }

      article.sw {
        display: none;

        .social_media {
          .github {
            @include small_social_media-sprite(github);
          }

          .github:hover {
            @include small_social_media-sprite(github_hover);
          }
        }
      }
    }
  }

  section.nav_team {
    margin: 10px 0px 80px 0px;

    article.avatar {
      width: 960px;

      div.col-md-2 {
        height: 180px;

        a {
          width: 100px;
          height: 110px;
          display: block;
        }

        p {
          color: $dark_grey;
          line-height: 15px;
          font-size: 18px;
          text-align: center;
          padding-left: 20px;
          margin: 10px auto;

          a {
            text-decoration: none;
          }
        }

        .nickname {
          width: 150px;
          margin-left: -10px;
          font-size: 13px;
          color: $grey;
        }

        .border {
          border-left: solid $light_grey 1px;

          .name {
            color: $dark_grey;
          }
        }
      }

      div.col-md-2.active {
        .lc {
          @include avatar-sprite(lc_hover);
        }

        .yl {
          @include avatar-sprite(yl_hover);
        }

        .jh {
          @include avatar-sprite(jh_hover);
        }

        .lt {
          @include avatar-sprite(lt_hover);
        }

        .nd {
          @include avatar-sprite(nd_hover);
        }

        .sw {
          @include avatar-sprite(sw_hover);
        }

        p {
          color: $blue!important;
        }
      }

      .lc {
        margin-left: 40px;
        @include avatar-sprite(lc);
      }

      .lc:hover {
        margin-left: 40px;
        @include avatar-sprite(lc_hover);
      }

      .yl {
        margin-left: 30px;
        @include avatar-sprite(yl);
      }

      .yl:hover {
        margin-left: 30px;
        @include avatar-sprite(yl_hover);
      }

      .jh {
        margin-left: 30px;
        @include avatar-sprite(jh);
      }

      .jh:hover {
        margin-left: 30px;
        @include avatar-sprite(jh_hover);
      }

      .lt {
        margin-left: 30px;
        @include avatar-sprite(lt);
      }

      .lt:hover {
        margin-left: 30px;
        @include avatar-sprite(lt_hover);
      }

      .nd {
        margin-left: 30px;
        @include avatar-sprite(nd);
      }

      .nd:hover {
        margin-left: 30px;
        @include avatar-sprite(nd_hover);
      }

      .sw {
        margin-left: 15px;
        @include avatar-sprite(sw);
      }

      .sw:hover {
        margin-left: 15px;
        @include avatar-sprite(sw_hover);
      }
    }
  }
}

/*----------------------------------------*/
/*                 CLIENTS                */
/*----------------------------------------*/

section.clients {
  width: 100%;
  height: 487px;
  position: absolute;
  left: 0px;
  background-color: $white_grey;

  article.content {
    width: 960px;
    margin: 0 auto;

    h1 {
      width: 140px;
      margin: 0 auto;
      margin-top: 40px;
    }

    .clients_important {
      width: 960px;
      height: 100px;
    }

    .clients_less_important {
      width: 800px;
      height: 100px;
      margin: 60px auto;
    }

    .container_logo {
      width: 120px;
      height: 100px;
      float: left;
      margin-left: 60px;
    }
  }
}

/*----------------------------------------*/
/*                 FOOTER                 */
/*----------------------------------------*/

footer {
  width: 100%;
  z-index: 100;
  position: relative;
  background-color: $blue;
  margin-top: 501px;

  section {
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;

    p , a {
      color: $white;
      text-align: center;
      font-size: 15px;
    }

    a:hover {
      color: $white;
    }
  }
}

